.copyright {
    padding: $spacer * 2 0;
    background: $gray-300;
    color: $black;

    &__text {
        font-size: 18px;
        font-weight: 300;
        color: $gray-900;
    }
}

@media (max-width: 768px) {
    
    .copyright {
        text-align: center;
    }
}