.main-content {

    &__sidebar {
        padding: 50px 30px 70px 0;
        border-right: 3px solid $gray-300;
    }

    &__title {
        margin-top: 50px;
        margin-bottom: 30px;
        text-transform: capitalize;

        @media (max-width: 992px) {
            text-align: center;
        }
    }
}