.widget {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid $gray-300;

    &:last-of-type {
        border-bottom: none;
    }

    &--carousel {

        .carousel-caption {
            background: rgba(0, 0, 0, 0.6);
            padding: 10px;
            border-radius: 5px;

            &__title {
                text-transform: capitalize;
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 30px;
        text-transform: capitalize;
    }

    &__list {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item {

    }

    &__link,
    &__more {
        display: block;
        color: $black;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        text-transform: capitalize;
    }

    &__more {
        color: $color-blue;
    }
}